<html>

<head>
    <title>Disease Detection</title>
    <link rel="stylesheet" href="{{url_for('static', filename='contact.css')}}">
    <link rel="icon" href="icon1.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
        <nav>
            <h4 class="Heading">DiagnoXpert</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="#">Detection</a>
                    <ul class="dropdown">
                        <li><a href="/Pneumonia">Pneumonia</a></li>
                        <li><a href="/COVID">COVID-19</a></li>
                    </ul>
                </li>
                <li><a class="active" href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</head>
<body>
    <section>
        <div class = "image">

        </div>
        <div class = "intro">
            
        </div>
    </section>
    <footer>
        <p>Get in touch with us for any further queries at <a href="#">diagnoxp_health@gmail.com</a></p>
    </footer>
</body>
</html>