<html>

<head>
    <title>Disease Detection</title>
    <link rel="stylesheet" href="{{url_for('static', filename='Home.css')}}">
    <link rel="icon" href="icon1.jpg">
    <div>
        <nav>
            <h4 class="Heading">DiagnoXpert</h4>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="#">Detection</a>
                    <ul class="dropdown">
                        <li><a href="/Pneumonia">Pneumonia</a></li>
                        <li><a href="/COVID">COVID-19</a></li>
                    </ul>
                </li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</head>

<body>
    <h1><p id="p1">WELCOME TO </p><br> DiagnoXpert</h1>
</body>

</html>